{
    "Database": {
        "username": "",
        "password": "",
        "host": "localhost",
        "port": "27017",
        "database": "mahj-backend"
    },
    "Node": {
        "port": 4300
    },
    "Authentication": {
        "issuer": "mahj-backend",
        "expiresIn": "7d",
        "algorithm": "RS256"
    },
    "Crypto": {
        "stringLength": 16,
        "algorithm": "SHA512"
    },
    "Logging": {
        "enableServer": true,
        "enableError": true,
        "enableAudit": true,
        "enableInfo": false
    },
    "WOL": {
        "pollTries": 25
    }
}
